<!-- your html code here -->
<h1>Portfolio</h1>

<p>This is our portfolio for the group project. This is just some extra random text to make this line longer.</p>

<div class="card-group">

  <div class="card mr-3">
    <img src="https://i.picsum.photos/id/1033/2048/1365.jpg?hmac=zEuPfX7t6U866nzXjWF41bf-uxkKOnf1dDrHXmhcK-Q" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title text-primary pl-0">Project: New York City</h4>
      <p class="card-text">When you leave New York, you are astonished at how clean the rest of the world is. Clean is not enough.</p>
    </div>
  </div>

  <div class="card ml-3 mr-3">
    <img src="https://i.picsum.photos/id/1039/6945/4635.jpg?hmac=tdgHDygif2JPCTFMM7KcuOAbwEU11aucKJ8eWcGD9_Q" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title text-primary">Project: Wilderness</h4>
      <p class="card-text">The clearest way into the universe is through a forest of wilderness.</p>
    </div>
  </div>

  <div class="card ml-3">
    <img src="https://i.picsum.photos/id/1040/4496/3000.jpg?hmac=kvZONlBpTcZ16PuE_g2RWxlicQ5JKVq2lqqZndfafBY" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title text-primary">Project: Castle</h4>
      <p class="card-text">There are no rules of architecture for a castle in the clouds.</p>
    </div>
  </div>
</div>