<!-- your html code here -->


<div class="container-fluid bg-white">
    <div class="row row d-flex align-items-center">
        <div class="col float-left">
            <img src="https://images.pexels.com/photos/3808904/pexels-photo-3808904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=100&w=100" class="rounded-circle" alt="Typing Hands">
        </div>
        <div class="col text-center">
            <p class="cool text-secondary-nowrap"><strong>The Second Heading</strong></strong> is pretty cool too</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam a molestiae maxime dignissimos vero.</p>
        </div>
    </div>
</div>




